<div id="sidebar" >
    <div class="toggle-btn"> <!--[(ngModel)]="sidebar" (click)="botonBurguer()" -->
       <span>&#9776;</span>
   </div>
   <ul>
       <li>Home</li>
       <li>Ejemplo 1</li>
       <li>Ejemplo 2</li>
       <li>Ejemplo 3</li>
       <li>Contacto</li>
   </ul>
 </div>


 <div class="hero">
    <div class="contenedor">
        <div class="form">
            <h2>Registro de usuario</h2>
            <div class="input">Nombre y apellidos: <input type="text"></div>
            <div class="input" >Email: <input type="text"></div>
            <div class="input">Contraseña: <input type="password"></div>
            <div class="input">Repetir contraseña: <input type="password"></div>
            <input class="btn" type="button" value="Enviar datos" routerLink="/">

        </div>  
    </div>
 </div>